.important{width: 90%;
           padding: 20px;
           border: 7px;
           margin: 5px;
           height: auto;
}
.not {align-items: center;
      color: brown;

}
img{width: 33%;
    height: 200px;
}
body {background-color: #F5DEB3;
      font-size: 38;

}

h1 {color: #FF4500;
    text-align: center;
    font-size: 48;
}
h2 {color: maroon;
    text-align: center;
    font-size: 40;
}
h3 {color: #006400;
  #DC143C;
    text-decoration: underline;
    text-align: center;
    font-size: 40;
}
.output{border-style: solid;
        border-width: medium;
        border-color: #D2691E;
        margin-right: 2px;
}
p {text-align: center;
   font-weight: bold;
   font-style: italic;
}

@media screen and (max-width: 10px) {
  body {
    background-color: black;
    color: white;
