.important{width: 80%;
           padding: 30px;
           border: 8px;
           margin: 9px;
           height: auto;
}
.not {align-items: center;
      color: red;
}

body {background-color: #FFF8DC;
  #66CDAA;
}

h1 {color: maroon;
    text-align: center;
    font-style: oblique;
    font-size: 48;
}
h2 {color: maroon;
    text-align: center;
    font-size: 38;
}
h3 {color: red;
    text-align: center;
    font-size: 34;
}

p {text-align: center;
   font-style: italic;
}

@media screen and (max-width: 10px) {
  body {
    background-color: black;
    color: white;
